        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,400&display=swap');
        *,
        html,
        body {
            padding: 0;
            margin: 0;
            font-family: 'DM Sans', sans-serif;
            scroll-behavior: smooth;
        }
        
        h1 {
            font-size: 3.2rem !important;
        }
        /* #navbar {
    height: 8vh;
} */
        
        #logo {
            width: 15%;
        }
        
        .landing-section {
            height: 92vh;
            
        }
        
        .btn-group {
            display: flex;
            align-self: start;
            width: 50%;
            display: flex;
        }
        
        .menu-section {
            height: 100vh;
        }
        
        .menu-card {
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease-in-out;
        }
        
        .menu-card:hover {
            transform: translateY(-10px);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
        }
        
        .menu-card a {
            text-decoration: none;
        }
        
        .menu-title {
            font-weight: 600;
            color: black;
            font-size: 1.5rem;
        }
        
        .container-self-development {
            background-color: #172643;
        }
        
        .sd-card {
            padding: 15px;
            height: 100% !important;
            overflow: hidden;
        }
        
        .sd-card p {
            font-size: 1rem;
        }
        
        .self-development-img {
            width: 100%;
            transition: transform .2s ease-in-out;
        }
        
        .self-development-img:hover {
            transform: scale(1.128);
        }
        
        .footer-icons {
            display: flex;
            flex-wrap: wrap;
            width: 30%;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .footer-icons a {
            text-decoration: none;
        }
        
        .footer-icons a i {
            font-size: 30px;
        }
        
        @media screen and (max-width: 576px) {
            #logo {
                width: 40%;
            }
            section {
                padding: 20px;
            }
            h1 {
                font-size: 1.7rem !important;
            }
            p {
                font-size: .8rem;
            }
            .landing-section img {
                width: 90%;
            }
            .btn-group {
                width: 70%;
            }
            .menu-section {
                height: 100%;
            }
            .footer-icons {
                width: 50%;
            }
            .footer-content {
                margin-top: 2rem !important;
            }
        }